/* ==========================================================================
   Custom Variants
   ========================================================================== */

/* Hover + Focus
   ========================================================================== */

/*
TODO: Fix - not working as expected
@custom-variant hocus {
    &:hover,
    &:focus {
        @slot;
    }
} */
