/* ==========================================================================
   Custom Variants
   ========================================================================== */

/* Hover + Focus
   ========================================================================== */

@custom-variant hocus {
    &:hover,
    &:focus {
        @slot;
    }
}
