/* ==========================================================================
   Config / Tailwind
   ========================================================================== */

/* Main theme
   ========================================================================== */

@theme static {
    /* Defaults */
    --ease-power2-out: cubic-bezier(0.215, 0.61, 0.355, 1);
    --ease-power2-inOut: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-power3-in: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    --ease-smooth: cubic-bezier(0.38, 0.005, 0.215, 1);

    /* Colors */
    --color-black: #000000;
    --color-white: #ffffff;

    /* Font sizes */
    --text-heading-xl: utopia.clamp(60, 120);
    --text-heading-lg: utopia.clamp(48, 80);
    --text-md: utopia.clamp(14, 16);
    --text-button: utopia.clamp(16, 20);

    /* Spacings */
    --spacing-unit-sm: var(--unit-sm);
    --spacing-unit-md: var(--unit-md);
    --spacing-gutter: var(--grid-gutter);
    --spacing-margin: var(--grid-margin);
    --spacing-fluid-xs: utopia.clamp(8, 10);
    --spacing-fluid-sm: utopia.clamp(16, 24);
    --spacing-fluid-md: utopia.clamp(24, 32);
    --spacing-fluid-lg: utopia.clamp(32, 40);
    --spacing-fluid-xl: utopia.clamp(40, 56);
    --spacing-fluid-2xl: utopia.clamp(56, 80);
    --spacing-fluid-3xl: utopia.clamp(80, 128);
    --spacing-fluid-4xl: utopia.clamp(128, 160);

    /* z-indexes */
    --z-loader: 200;
    --z-header: 100;
    --z-above: 1;
    --z-default: 0;
    --z-below: -1;

    /* Transitions */
    --ease: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition-duration: 0.5s;

    /* Breakpoints */
    --breakpoint-2xs: 370px;
    --breakpoint-xs: 500px;
    --breakpoint-sm: 700px;
    --breakpoint-md: 1000px;
    --breakpoint-lg: 1200px;
    --breakpoint-xl: 1400px;
    --breakpoint-2xl: 1600px;
    --breakpoint-3xl: 1800px;
    --breakpoint-4xl: 2000px;
    --breakpoint-5xl: 2400px;
}

/* Referencing other variables
   When defining theme variables that reference other variables, use the inline option
   @see https://tailwindcss.com/docs/theme#referencing-other-variables
   ========================================================================== */

@theme inline {
    /* Font */
    --font-sans: var(
        --custom-font-sans,
        -apple-system,
        BlinkMacSystemFont,
        avenir next,
        avenir,
        segoe ui,
        helvetica neue,
        helvetica,
        Cantarell,
        Ubuntu,
        roboto,
        noto,
        arial,
        sans-serif
    );

    /* Transitions */
    --transition-ease: var(--ease);
}
