/* ==========================================================================
   Document styles
   ========================================================================== */

html {
    /* Transition — Define a transition duration during page visits */
    &.is-changing .transition-fade {
        transition: opacity 0.25s;
        opacity: 1;
    }

    /* Transition — Define the styles for the unloaded pages */
    &.is-animating .transition-fade {
        opacity: 0;
    }

    /* Loading cursor */
    &:not(.is-ready) {
        cursor: wait;
    }
}

body {
    font-family: var(--font-sans);
    color: var(--color-black);
    background-color: var(--color-white);
}

/* Select styles */
::selection {
    color: var(--selection-color-text, var(--color-white));
    text-shadow: none;
    background-color: var(--selection-color-bg, var(--color-black));
}

/* Focus visible styles */
*:focus-visible {
    @apply focus-visible;
}
