/* ==========================================================================
   Utilities / Typography
   ========================================================================== */

/* Headings
   ========================================================================== */

@utility heading-xl {
    font-size: var(--text-heading-xl);
    font-family: var(--font-sans);
    line-height: 0.85;
}

@utility heading-lg {
    font-size: var(--text-heading-lg);
    font-family: var(--font-sans);
    line-height: 1;
}

/* Body texts
   ========================================================================== */

@utility body-md {
    font-size: var(--font-size, var(--text-md));
    font-weight: 400;
    line-height: var(--line-height, 1.35);
}

/* Links
   ========================================================================== */

@utility link {
    transition: opacity var(--transition-duration) var(--transition-ease);

    @variant hover {
        opacity: 0.5;
    }
}
