/* ==========================================================================
   Utilities / Container
   ========================================================================== */

@utility container {
    width: var(--container-width);
    max-width: unset;
    margin-inline: auto;
}
