// ==========================================================================
// Tailwind CSS
// ==========================================================================
/**
* This injects Tailwind's base styles and any base styles registered by
* plugins.
*/
@tailwind base;

/**
* This injects Tailwind's component classes and any component classes
* registered by plugins.
*/
@tailwind components;

/**
* This injects Tailwind's utility classes and any utility classes registered
* by plugins.
*/
@tailwind utilities;

// ==========================================================================
// Fonts imports
// ==========================================================================
@layer base {
// @font-face {
    //     font-family: 'IBM Plex Mono';
    //     src: url('/fonts/IBMPlexMono-Regular.woff2') format('woff2');
    //     font-weight: normal;
    //     font-style: normal;
    //     font-display: swap;
    // }
}

// ==========================================================================
// Vendors
// ==========================================================================
@import "node_modules/locomotive-scroll/dist/locomotive-scroll";

// ==========================================================================
// Local files imports
// ==========================================================================
@import "mixins/mixins-container";
@import 'mixins/mixins-text';
@import 'mixins/mixins-heading';

@import 'utils/container';
@import 'utils/text';
@import 'utils/heading';

// ==========================================================================
// Global styles
// ==========================================================================
:root {
    --color-primary: theme('colors.black');
    --color-secondary: theme('colors.white');
}

html {
    font-family: theme('fontFamily.sans');
}

body {
    background: var(--color-secondary);
    color: var(--color-primary);
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-shadow: none;
}

/* Define a transition duration during page visits */
html.is-changing .transition-fade {
    transition: opacity 0.25s;
    opacity: 1;
}
/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
    opacity: 0;
}