/* Vendors */
@import '../../node_modules/locomotive-scroll/dist/locomotive-scroll';

/* tailwind */
@import './tailwind.css';

/* utilities */
@import './utilities.css';
@import './typography.css';

/* Fonts imports */
@import './fonts.css';

/* Global styles */
:root {
    --color-primary: colorCode('black');
    --color-secondary: colorCode('white');
}

html {
    font-family: var(--font-sans);
    font-weight: 500;
}

body {
    background: var(--color-secondary);
    color: var(--color-primary);
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-shadow: none;
}

/* Define a transition duration during page visits */
html.is-changing .transition-fade {
    transition: opacity 0.25s;
    opacity: 1;
}
/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
    opacity: 0;
}
