/* ==========================================================================
   Main styles
   ========================================================================== */

/* Vendors */
@import '../../node_modules/locomotive-scroll/dist/locomotive-scroll';
@import 'tailwindcss';

/* Reset */
@import './_reset.css';

/* Configs */
@import './_config.custom-variants.css';
@import './_config.variables.css';
@import './_config.tailwind.css';

/* Utilities */
@import './_utilities.container.css';
@import './_utilities.helpers.css';
@import './_utilities.typography.css';

/* Global document */
@import './_document.css';
