/* Note on @utility coloring syntax https://github.com/tailwindlabs/tailwindcss-intellisense/issues/1146#issuecomment-2637758061 */
@utility heading-xl {
    font-size: var(--text-heading-xl);
    font-style: normal;
    line-height: 0.85;
}

@utility heading-h2 {
    font-size: var(--text-heading-lg);
    font-style: normal;
    line-height: 1;
}

@utility text-body {
    font-size: var(--text-body-sm);
    font-style: normal;
    line-height: 1.35;
}
