---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<main>
		<header class="u-container">
			<h1 class="u-heading-h1">About</h1>
		</header>

		<div class="u-container u-mt-fluid-xl">
			<div class="u-grid u-grid-cols-12 u-gap-gutter">
				<div class="u-col-span-full md:u-col-span-6 u-text-body">
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>
				</div>
				<div class="u-col-span-full md:u-col-span-6 u-text-body">
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>
				</div>
			</div>

			<!-- Placeholder -->
			<div class="u-bg-black w-full u-h-[50vh] u-mt-fluid-xl"></div>
			<div class="u-bg-black w-full u-h-[50vh] u-mt-fluid-xl u-opacity-50"></div>
		</div>
	</main>
</Layout>

