---
import Layout from '@layouts/Layout.astro';
import Image from '@components/Image/Image.astro';
import Wysiwyg from '../components/Wysiwyg/Wysiwyg.astro';
---

<Layout title="About">
    <header class="u-container">
        <h1 class="u-heading-h1">About</h1>
    </header>

    <div class="w-full u-mt-fluid-xl u-h-[20vh] u-bg-black"></div>

    <div class="u-container u-mt-fluid-xl">
        <div>
            <Image
                src={import('@images/printer.jpg')}
                alt="Placeholder alt"
                caption="Static image & Loading eager"
                loading="eager"
                width={500}
                height={200}
            />
        </div>
        <div class="u-grid u-grid-cols-2 u-gap-gutter">
            <div>
                <Image
                    src="https://locomotive.ca/uploads/careers/pltropics-2000w.jpg"
                    alt="Placeholder alt"
                    caption="Loading lazy native"
                    loading="lazy"
                    width={500}
                    height={500}
                />
            </div>
            <div>
                <Image
                    src="https://locomotive.ca/uploads/careers/fullscreen-image-2000w.jpg"
                    alt="Placeholder alt"
                    caption="Loading lazy native + locomotive-scroll inview anim"
                    loading="lazy"
                    width={500}
                    height={500}
                    data-scroll
                    data-scroll-repeat
                />
            </div>
        </div>
        <div class="u-grid u-grid-cols-12 u-gap-gutter">
            <div class="u-col-span-full u-text-body md:u-col-span-6">
                <Wysiwyg>
                    <Fragment
                        set:html={`<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>`}
                    />
                </Wysiwyg>
            </div>

            <div class="u-col-span-full u-text-body md:u-col-span-6">
                <Wysiwyg>
                    <Fragment
                        set:html={`<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>`}
                    />
                </Wysiwyg>
            </div>
        </div>

        <!-- Placeholder -->
        <div class="w-full u-mt-fluid-xl u-h-[50vh] u-bg-black u-opacity-50"></div>
        <div class="w-full u-mt-fluid-xl u-h-[50vh] u-bg-primary"></div>
    </div>
</Layout>
