---
import Layout from '../layouts/Layout.astro';
import Image from '@components/Image/Image.astro';
---

<Layout title="About">
    <header class="u-container">
        <h1 class="u-heading-h1">About</h1>
    </header>

    <div class="w-full u-mt-fluid-xl u-h-[20vh] u-bg-black"></div>

    <div class="u-container u-mt-fluid-xl">
        <div>
            <Image
                src="https://fastly.picsum.photos/id/817/800/600.jpg?hmac=aEWNKHGSsc5B3rzhMQTnvGnxEpvJhCnD9m-e1qIZaUQ"
                alt="Placeholder alt"
                caption="Placeholder caption"
                loading="eager"
            />
        </div>
        <div>
            <Image
                src="https://fastly.picsum.photos/id/868/800/600.jpg?hmac=k_fK14cukIWaWI6NRAjnsPdCd8S33sdVR7-DbD--Ynk"
                alt="Placeholder alt"
                caption="Placeholder caption"
                loading="lazy"
                width="500"
                height="100"
            />
        </div>
        <div class="u-grid u-grid-cols-12 u-gap-gutter">
            <div class="u-col-span-full u-text-body md:u-col-span-6">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis
                    sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus
                    voluptates nam voluptatum, assumenda, atque nesciunt debitis?
                </p>
            </div>
            <div class="u-col-span-full u-text-body md:u-col-span-6">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis
                    sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus
                    voluptates nam voluptatum, assumenda, atque nesciunt debitis?
                </p>
            </div>
        </div>

        <!-- Placeholder -->
        <div class="w-full u-mt-fluid-xl u-h-[50vh] u-bg-black"></div>
        <div class="w-full u-mt-fluid-xl u-h-[50vh] u-bg-black u-opacity-50"></div>
    </div>
</Layout>
