---
import { defaultLocale } from '@scripts/utils/i18n';
import { getRelativeLocaleUrl } from 'astro:i18n';

const preferedLocale = (Astro.preferredLocale as Locale) || defaultLocale;
const redirectUrl = getRelativeLocaleUrl(preferedLocale, '/');

export const prerender = false;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content={`0; url=${redirectUrl}`} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Redirecting...</title>
    </head>
    <body> </body>
</html>
