// ==========================================================================
// Utilities / Texts
// ==========================================================================

@layer utilities {

    .u-text-body {
        font-weight: normal;
        line-height: 1.35em;
    }

    .u-text-subtitle {
        text-transform: uppercase;
    }
}
