---
import '@styles/main.scss';
import { SEO } from 'astro-seo';
import { defaultSeo } from '@data/seo';
import { getSeo } from '@scripts/utils/seo';
import { getRelativeLocaleUrl } from 'astro:i18n';

interface Props {
    title: string;
    seo?: Seo;
}

const { title, seo = {} } = Astro.props;

const seoData = getSeo(seo, defaultSeo, title);

const FONTS: string[] = [
    // 'WebfontRegular.woff2',
    // 'WebfontBold.woff2',
];
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <SEO {...seoData} />

        <!-- Fonts -->
        {
            FONTS.map((font) => (
                <link
                    rel="preload"
                    href={`/fonts/${font}`}
                    as="font"
                    type="font/woff2"
                    crossorigin
                />
            ))
        }
    </head>
    <body>
        <div class="u-container">
            <nav class="u-flex u-gap-gutter u-py-fluid-md">
                <a href={getRelativeLocaleUrl(Astro.currentLocale || 'en', '/')}>Index</a>
                <a href={getRelativeLocaleUrl(Astro.currentLocale || 'en', 'about')}>About</a>
                <pre>
                    {getRelativeLocaleUrl(Astro.currentLocale || 'en' , 'about')}
                </pre>
                <a href={getRelativeLocaleUrl(Astro.currentLocale || 'en', 'post')}>The post</a>
            </nav>
        </div>

        <main role="main" id="swup" class="transition-fade">
            <div id="content">
                <slot />
            </div>
        </main>

        <footer class="u-container u-flex u-justify-between u-py-fluid-xs">
            <div>
                &copy;{new Date().getFullYear()}
            </div>

            <nav class="u-flex u-gap-gutter">
                <a href={getRelativeLocaleUrl(Astro.currentLocale || 'en', '/')}>Index</a>
                <a href={getRelativeLocaleUrl(Astro.currentLocale || 'en', 'about')}>About</a>
                <a href={getRelativeLocaleUrl(Astro.currentLocale || 'en', 'post')}>The post</a>
            </nav>
        </footer>
        <script src="../scripts/app.ts"></script>
        <script>
            import { setViewportSize } from '@scripts/utils/setViewportSize';
            import { $screenDebounce } from '@scripts/stores/screen';

            // Set viewport size
            $screenDebounce.subscribe(() => {
                setViewportSize();
            });
        </script>
    </body>
</html>
