---
import '@styles/main.css';
import { Font, type FontFamily } from 'astro:assets';
import { SEO } from 'astro-seo';
import { defaultSeo } from '@data/seo';
import { getSeo } from '@scripts/utils/seo';
import Icon from '../components/Icon/Icon.astro';

interface Props {
    title: string;
    seo?: Seo;
}

const { title, seo = {} } = Astro.props;

const seoData = getSeo(seo, defaultSeo, title);

// Constants
const FONTS: FontFamily[] = ['--custom-font-sans'];
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <SEO {...seoData} />

        {FONTS.map((font) => <Font cssVariable={font} preload />)}
    </head>
    <body>
        <script src="../scripts/app.ts"></script>

        <div class="container grid grid-cols-2 py-fluid-md">
            <div>
                <Icon name="logo" />
            </div>
            <nav class="flex gap-gutter justify-self-end">
                <a href="/">Index</a>
                <a href="/about">About</a>
                <a href="/post">The post</a>
            </nav>
        </div>

        <main id="swup" class="transition-fade">
            <div id="content">
                <slot />
            </div>
        </main>

        <footer class="container flex justify-between py-fluid-xs">
            <div>
                &copy;{new Date().getFullYear()}
            </div>

            <nav class="flex gap-gutter">
                <a href="/">Index</a>
                <a href="/about">About</a>
            </nav>
        </footer>

        <script>
            import { setViewportSize } from '@scripts/utils/setViewportSize';
            import { $screenDebounce } from '@scripts/stores/screen';

            // Set viewport size
            $screenDebounce.subscribe(() => {
                setViewportSize();
            });
        </script>
    </body>
</html>
