// ==========================================================================
// MIXINS / TEXTS
// ==========================================================================
@mixin -text {
    font-style: normal;
}

@mixin -body {
    @include -text;
    font-weight: normal;
    line-height: 1.35em;
}

@mixin -subtitle {
    @include -text;
    text-transform: uppercase;
}
