---
import Layout from '@layouts/Layout.astro';
import Button from '@components/Button/Button.astro';
import Wysiwyg from '@components/Wysiwyg/Wysiwyg.astro';
import Accordion from '@components/Accordion/Accordion.astro';
---

<Layout title="Welcome to the Locomotive Astro Boilerplate.">
    <header class="container">
        <h1 class="heading-h1">Welcome to the Locomotive Astro Boilerplate.</h1>
    </header>

    <div class="mt-fluid-xl container">
        <div class="gap-gutter grid grid-cols-12">
            <div class="text-body col-span-full md:col-span-4">
                <Wysiwyg>
                    <Fragment
                        set:html={`<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>`}
                    />
                </Wysiwyg>

                <Button href="/about" class="mt-fluid-s"> Learn More </Button>
            </div>

            <div class="text-body-sm col-span-full md:col-span-4">
                <Wysiwyg tag="article">
                    <Fragment
                        set:html={`<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>`}
                    />
                    <Button href="https://google.ca" target="_blank" class="mt-fluid-s">
                        Visit Us
                    </Button>
                </Wysiwyg>
            </div>

            <div class="text-body-sm col-span-full md:col-span-4">
                <Wysiwyg>
                    <Fragment
                        set:html={`<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>`}
                    />
                </Wysiwyg>
            </div>

            <div class="text-body-sm col-span-full md:col-span-4">
                <Accordion label="Accordion summary">
                    <Wysiwyg>
                        <Fragment
                            set:html={`<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>`}
                        />
                    </Wysiwyg>
                </Accordion>
                <Accordion label="Accordion summary">
                    <Wysiwyg>
                        <Fragment
                            set:html={`<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>`}
                        />
                    </Wysiwyg>
                </Accordion>
            </div>
        </div>

        <!-- Placeholder -->
        <div class="mt-fluid-xl h-[50vh] w-full bg-black opacity-50"></div>
        <div class="mt-fluid-xl bg-grey h-[50vh] w-full"></div>
    </div>
</Layout>
